*.lo
.dirstamp
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/fullscreen/fullscreen.plugin
/fullscreen/libfullscreen.la
/reload/libreload.la
/reload/reload.plugin
/so_locations
/statusbar-date/libstatusbar-date.la
/statusbar-date/statusbar-date.plugin
/tags
_libs
