/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/eog.desktop
/eog.desktop.in
/eog.pc
/org.gnome.eog.enums.xml
/org.gnome.eog.gschema.valid
/org.gnome.eog.gschema.xml
/org.gnome.eog.gschema.xml.in
/so_locations
/tags
