*.lo
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/Eog-3.0.gir
/Eog-3.0.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/eog
/eog-enum-types.c
/eog-enum-types.h
/eog-marshal.c
/eog-marshal.h
/libeog.la
/so_locations
/tags
_libs
