/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/eog-decl-list.txt
/eog-decl.txt
/eog-docs.sgml
/eog-undeclared.txt
/eog-undocumented.txt
/eog-unused.txt
/eog.args
/eog.hierarchy
/eog.interfaces
/eog.prerequisites
/eog.signals
/eog.types
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/eog-unused.sgml
/version.xml
/xml
